#cmtDiv {
  overflow: scroll;
  border-style: inset;
  background-color: #cdcdcd;
  margin: 1em;
  padding: 1em;

}

#cmtList {
  overflow: scroll;
  border-style: none;
  background-color: #f9f9f9;
}

#cmtItem {
  margin-bottom: 1em;
}

#cmtdiv {
  font-size: 16px;
  margin: .75em;
}

#cmtbtn {
  float: right;
}


.cmtform {
  margin-top: .75em;
}
