.reviewlist ul {
  display: block;
  list-style-type: none;
  background-color: #4444;
  border-style: solid;
  border-color: grey;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 0px;
  border-radius: 20px;
  max-height: 100%;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

.reviewlist li {
  max-width: inherit;
  font-size: 12px;
  border-style: outset;
  background-color: #33333340;
  margin: 1em;
  padding: .5em;
}

.reviewlist li:hover {
  background-color: lightgrey;
}

.reviewlist h3 {
  font-size: 20px;
  margin: 5px;
}

#star {
  margin: auto;
  margin-right: 8px;
  width: 30px;
  height: 30px;
}

#reviewBox {
  max-height: 200px;
  overflow: scroll;
  border-style:inset;
  background-color: #f9f9f9;
  padding: 1em;
}

#titleBox {
  display: flex;
  overflow: hidden;
  border-style:inset;
  background-color: #f9f9f9;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1em;
}

#list {
  max-height: 90vh;
  max-width: 25vw;
  background-color: #cdcdcd;
  border-style: solid;
  border-color: grey;
  border-width: 3px;
  border-radius: 30px;
}
