.reviewPop h3 {
  font-size: 20px;
  margin: 5px;
  margin-bottom: 5px;
}

#reviewPop {
  background-color: #33333340;
  margin: .5em;
  margin-left: .75em;
  padding: .5em;
  overflow: scroll;
  border-style:inset;
  max-height: 90vh;
}

#reviewText {
  font-size: 12px;
  background-color: #f9f9f9;
  overflow: scroll;
  border-style:inset;
  margin: .5em;
  padding: .5em;
}

#revHead {
  display: flex;
}
