* {
  box-sizing: border-box;
}
body {
  padding-bottom: 1em;
  margin-top: 70px;
}

form {
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
form input, textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #9c9c9c;
}

form button {
  background: lightgrey;
  padding: 0.7em;
  border: 0;
}
form button:hover {
  background: gold;
}


label {
  text-align: left;
  display: block;
  padding: 0em 1.5em 0em 0;
}

h2 {
  text-align: center;
  text-decoration: underline;

}

#ratings {
  text-align: left;
  display: inline-block;
}
