nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.navi li {
  float: left;
}

.navi li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.navi li a:hover {
  background-color: #111111;
}

.navi button {
  color: black;
  text-align: center;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  transform: scale(.8,.8);
}
